/* ----- =General ----- */
body {
	background:#E2E4E6;
	background-repeat:repeat;
}

body.concrete {background-image:url(images/concrete.jpg);}
body.pattern1 {background-image:url(images/pattern1.png);}
body.pattern2 {background-image:url(images/pattern2.png);}
body.pattern3 {background-image:url(images/pattern3.png);}
body.pattern4 {background-image:url(images/pattern4.png);}
body.pattern5 {background-image:url(images/pattern5.png);}

#page {
/*	background:url(images/page-shadow.png) repeat-y top center; */
	overflow:hidden;
}

#main {
	background:#ffffff;
	position:relative;
	padding:0;
}

/*.overflow{overflow:hidden;position:relative;display:block;}*/
.main-padding{padding:0 25px 30px 25px;}

@media (max-width:1025px){
	#page {
		padding:0;
	}
}

#featured {
}

/* ----- =Typography ----- */


@font-face {
    font-family: 'OpenSansBold';
    src: url('fonts/OpenSans-Bold-webfont.eot');
    src: url('fonts/OpenSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/OpenSans-Bold-webfont.woff') format('woff'),
         url('fonts/OpenSans-Bold-webfont.ttf') format('truetype'),
         url('fonts/OpenSans-Bold-webfont.svg#OpenSansBold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'OpenSansSemibold';
    src: url('fonts/OpenSans-Semibold-webfont.eot');
    src: url('fonts/OpenSans-Semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/OpenSans-Semibold-webfont.woff') format('woff'),
         url('fonts/OpenSans-Semibold-webfont.ttf') format('truetype'),
         url('fonts/OpenSans-Semibold-webfont.svg#OpenSansSemibold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'OpenSansItalic';
    src: url('fonts/OpenSans-Italic-webfont.eot');
    src: url('fonts/OpenSans-Italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/OpenSans-Italic-webfont.woff') format('woff'),
         url('fonts/OpenSans-Italic-webfont.ttf') format('truetype'),
         url('fonts/OpenSans-Italic-webfont.svg#OpenSansItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

body {
	color:#505050;
	font-family:Open Sans, Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size:13px;
	line-height:24px;
}

p{margin:0 0 18px;}
p.lead{
	font-size:17px;
	line-height:30px;
	margin:0 0 18px;
}
p.nm {
  margin:0;
}

ul,ol{margin:0 0 1.538em 3em;}
li {margin:0 0 0.3em;}
section ul{margin-top:-12px;}

small{font-size:0.846em;} /* 11px */

blockquote {
  border-left-width:2px;
	border-left-color:#e34d25;
  margin-left:30px;
}
blockquote.pull-right {
  border-right-color:#e34d25;
  margin-right:30px;
}

.pullquote {border-color:#e34d25;}

.dropcap {
	float:left;
	font-size:52px;
	font-weight:bold;
	line-height:1em;
	padding-right:8px;
}

h1,h2,h3,h4,h5,h6{
  display:block;
}

h1,h2,h3,h4,h5,h6, strong{
	font-weight:normal;
}

h1.nm,h2.nm,h3.nm,h4.nm,h5.nm,h6.nm{margin-bottom:6px;}
h1.nb,h2.nb,h3.nb,h4.nb,h5.nb,h6.nb{font-weight:normal;}

a {
	color:#e34d26;
}

a:hover{
	color:#e34d26;
}

pre {
  margin-bottom:24px;
	-webkit-border-radius:0;
	-moz-border-radius:0;
	border-radius:0;
}

dl {
  margin:0 0 18px;
}

/*** HCC MODS ****/

/* Overall styles */
.field-type-taxonomy-term-reference, .dontshow{display:none;}
table.table_imgs td{padding:0 17px 35px 0; vertical-align:middle;}
table.table_imgs img{float:right;}
tbody{border:none;}
#main-content{margin-top:80px;}
.leftcolshim{border-top:#F3D091 1px solid; margin-top:100px;}
.leftcolshim p{margin:0;}
.form-item-search-block-form input{font-size:0.8em;}
em,cite, .project_aside{font-family:'OpenSansItalic'; font-style:normal;}
h1, h2{}
h2, strong{font-family:'OpenSansBold';}
h1{color:#4A3DBD; margin-bottom:10px; line-height:1.15em; font-size:1.6em;}
h2{color:#026CB3; margin:10px 0 2px 0; font-size:1.0em; line-height:1.2em; text-transform:uppercase;}
h3{color:#878787; font-size:1.1em; margin:0; line-height:1.3em;}
.title{margin-bottom:15px;}


/* sidenav */
#sidebar .submenu{;margin-top:6px;}
#sidebar .submenu ul, #sidebar .submenu li{list-style:none; list-style-image:none;}
.submenu ul{margin-right:15px;}
.submenu li{text-align:right; padding-bottom:15px;}
.submenu a{font-size:1.4em; line-height: 1.2em;}
.submenu a:hover, .submenu a.active{color:#00466B;}
.submenu a:hover, .topmenu a:hover{text-decoration:none;}

/* Top menu */
.topmenu{margin-bottom:14px;}
.topmenu ul li, .topmenu ul li.leaf{float:left; list-style-none; list-style-image:none; list-style-type:none;}
.topmenu ul{margin:0;}
.topmenu ul.menu li{border-right:#A03B22 1px solid; line-height:1em; padding:3px 12px; margin:0;}
.topmenu ul.menu li:last-child{border:none; padding-right:0;}
.topmenu a{font-size:0.95em; color:#A03B22;}
.topmenu a:hover{color:#000;}

/* project pages */
.project_aside{color:#9E876B; background:#FFFCEB; border:#F3D091 1px solid; padding:17px 30px;font-size:1.1em; line-height:1.6em; margin:20px 0 30px -31px;}

/* homepage stuff */
#home_area{display:block; overflow:hidden;min-height:170px;}
#home_buttons, #home_news{margin-bottom:-1000px;}
#home_buttons{padding:17px 33px 1000px 33px; background:#D69600; margin-left:-30px;}
#home_news{background:#EFE9D2; color:#A30800; padding:0 20px 1000px 20px;font-size:0.9em;}
#home_news p{max-width:87%; line-height:1.3em;}
#home_news h3{font-size:1.3em; margin:30px 0 8px 0;font-family:'OpenSansSemibold';color:#A30800;}
.home_message h1{color:#fff; font-size:1.8em; margin:10px 0 18px 0;}

/* footer */

footer {
	background:#476D91 url('images/footer.jpg') 0 0 repeat-x;
	padding:25px 0 20px 0;
}


.footer_logos, .footer_logos img{float:left;}
.footer_logos img{margin-right:40px;}
.footer_links{float:right; text-align:right;margin-right:0; }
.footer_links nav ul, .footer_links nav li{list-style-image:none; list-style:none;}
.footer_links, .footer_links nav a, .footer_links .legal a{color:#CED9E3;}
.footer_links nav li{background:none; padding:0 13px; border-right:#CED9E3 1px solid; height:auto; line-height:1em; float:left;}
.footer_links nav li:last-child{padding-right:0; border:0;}
.footer_links nav a { padding:0; display:inline; font-size:1em;}
.footer_links nav ul{float:right;}
.footer_links .legal,.footer_links .legal a {}
.footer_links .legal{clear:right; font-size:.65em; line-height:1.6em;}
.footer_links .legal a{ text-decoration:underline; margin-left:3px;}


/* ----- =Header ----- */

#topbar {
	background:#000000;
	color:#f5f5f5;
	height:30px;
	line-height:30px;
	padding:0 23px;
}

#topbar .block-title {
	border-bottom:none;
	display:inline-block;
	font-size:14px;
	padding-bottom:0;
	margin-bottom:0;
}

#topbar .content {
	display:inline-block;
}

.region-topbar-right {
	text-align:right;
}

#topbar li {
	display:inline-block;
}

header#top {
  background:url('images/banner.jpg') 0 0 no-repeat;
	padding:10px 0;
	position:relative;
}

#branding {
	padding-top:15px;
}

#branding #logo {
	display:inline-block;
	margin:20px 0 0 44px;
}

#branding #logo img {
}

#name-and-slogan {
}

#site-name {
  font-size:36px;
  font-weight:bold;
  line-height:1em;
  margin:0;
}

#site-name a {
	color:#f7f7f7;
	text-decoration:none;
}

#site-slogan {
	font-size:0.846em;
	font-style:italic;
	line-height:1em;
  margin-top:8px;
}

.region-header {
}

.region-header .block {
	float:right;
}


/* ----- =Menus ----- */

nav ul {
  margin:0;
}

#main-menu {
	background:#036DB4;
	margin-bottom:0;
}

#main-menu #main-menu-select,
#main-menu .open-menu {
	display:none;
}

#main-menu li {
  float:left;
  list-style:none;
	margin:-1px 0;
  padding:0;
}

#main-menu li.first {background:none;}
#main-menu li.last {margin-right:5px;border-right:none;}

#main-menu a {
	display:block;
	line-height:1.1em;
	padding:11px 18px;
	font-size:1.2em;
	text-decoration:none;
}

#main-menu a, #main-menu a.active, #main-menu a:hover{color:#fff;}
#main-menu a.active, #main-menu a:hover{background:#3BAFFC;}

#main-menu li > a:hover, #main-menu li.expanded li > a:hover {
}

#main-menu li.expanded {
	position:relative;
}

#main-menu li.expanded ul {
  border:1px solid #292c2d;
  border-width:0 1px;
	display:none;
	position:absolute;
	z-index:10;
	white-space:nowrap;
	top:100%;
	left:-2px;
}

#main-menu li.expanded li {
	background:#373b3d url(images/main-menu.png) repeat-x;
	border:none;
	float:none;
	margin:0 0;
	padding:0;

}

#main-menu li.expanded li a {
  padding-top:10px;
  padding-bottom:11px;
}

#main-menu li.expanded li.first a {
}

#main-menu li.expanded li.first a {
	margin-left:0;
}

#main-menu li.expanded li.expanded {
	position:relative;
}

#main-menu li.expanded li.expanded ul {
	top:0;
	left:100%;
	padding:0;
}

#secondary-menu {
	line-height:30px;
}
#secondary-menu ul {
  float:right;
  list-style:none;
}

#secondary-menu li {
  display:inline-block;
	margin:0 0 0 10px;
	padding:0;
}

#secondary-menu a {
	color:#ffffff;
	font-size:0.846em;
}

#secondary-menu a:hover {
	text-decoration:none;
}

/* TABLET */
@media (max-width:1025px){
	#topbar {
		padding:0 20px;
	}

	#branding {
		margin-bottom:20px;
	}
	#home_area{min-height:130px;}
	#home_buttons{padding:15px 20px 1000px 20px; margin-left:-20px;}
	.home_message h1{color:#fff; font-size:1.4em; margin:10px 0 13px 0;}
	#home_news{font-size:0.8em;}
	#home_news h3{margin-bottom:6px;}
	#home_news p{line-height:1.4em;}
}


/* Responsive navigation */
	#main-menu.select-menu ul,
	#main-menu.responsive ul {
		display:none;
	}

	#main-menu.responsive ul.opened {
		display:block;
	}

	#main-menu.responsive .open-menu {
		cursor:pointer;
		display:block;
		position:relative;
	}

  #main-menu.responsive a.open-menu:after {  
    content:"";
    background: url(images/open-menu.png) no-repeat;
    width:18px;
    height:12px;
    display: inline-block;  
    position: absolute;
    right:20px;
    top:10px;
  }

	#main-menu.responsive li {
		background:none;
		float:none;
		list-style:none;
		margin:0;
		padding:0;
	}

	#main-menu.responsive a {
		padding:11px 20px;
	}

	#main-menu.responsive li:first-child {
		display:list-item;
	}
	
	#main-menu.responsive li.first a {margin-left:0;}
	#main-menu.responsive li.last {margin-left:0;margin-right:0;}
	
	#main-menu.responsive li.expanded ul {
		display:block;
		border:none;
		margin-left:12px;
		position:static;
		z-index:auto;
		white-space:nowrap;
	}
	
	#main-menu.responsive li.expanded li {
		background:transparent;
	}
	
	#main-menu.responsive li.expanded li a {
		background:none;
		border:none;
	}

	#main-menu.select-menu {
		text-align: center;
		padding:3px 18px;
	}

	#main-menu.select-menu #main-menu-select {
		display: block;
		width:100%;
	}

/* ----- =Breadcrumb ----- */

.breadcrumb {
	background:none;
	font-size:0.833em;
	line-height:1em;
	margin-top:-18px;
	padding:0;
}

.breadcrumb a {
}

/* ----- =Sidebar ----- */

#sidebar {
	background:#FFECC2;
	padding-bottom:30000px;
	padding-top:30px;
	margin-bottom:-30000px;
}

#sidebar .block { 
	margin-bottom:0px;
}

#sidebar ul.menu {
  margin-left:18px;
}

@media (max-width: 1023px) {
	#sidebar {
		background:none;
		border-top:none;
		margin:0;
		padding:0;
	}

	#sidebar .block {
	  margin-bottom:18px;
	}
}

/* ----- =Node ----- */

.node-article .node-title {
	border-bottom:none;
	padding-bottom:0;
}

.node-article .meta {
	margin-bottom:24px;
}

.node-article .user-picture {
	margin-bottom:12px;
}

@media (max-width: 767px) {
	.node-article .user-picture {
		margin-right:12px;
		margin-bottom:0;
		float:left;
	}
	
	.node-article .user-picture {
		height:138px;
		width:138px;
	}
	
	.node-article .meta-text {
		float:left;
	}
}

.node-article .author {
	background:url(images/author.png) no-repeat left center;
	border-top:1px solid #dcdcdc;
	border-bottom:1px solid #dcdcdc;
	padding-left:22px;
}

.node-article .date {
	background:url(images/date.png) no-repeat left center;
	border-bottom:1px solid #dcdcdc;
	padding-left:22px;
}

.node-article .comment-count {
	background:url(images/comments.png) no-repeat left center;
	border-bottom:1px solid #dcdcdc;
	padding-left:22px;
}

.node-article .article-image {
	margin:0 0 30px;
}

.field-name-field-article-preface, .field-name-field-preface {
	font-size:17px;
	line-height:30px;
	margin-bottom:18px;
}

.field-name-field-work-image {
	margin-bottom:30px;
}

.meta .date{
	background:url(images/date.png) no-repeat left center;
	padding-left:22px;
}

.article-mini-node {
  margin-bottom:12px;
}

.article-mini-node h6 {
  margin-bottom:6px;
}

.article-mini-image {
  float:left;
  margin-right:12px;
}

/* ----- =Triptychs ----- */

/* ----- =Footer ----- */



#footer-main {
  padding:0 23px;
}

.footer-column {
	margin-bottom:24px;
}

#footer-stripe {
	background:#000000;
	color:#f5f5f5;
	height:30px;
	line-height:30px;
	padding:0 23px;
}

#footer-stripe .block-title {
	border-bottom:none;
	display:inline-block;
	font-size:14px;
	padding-bottom:0;
	margin-bottom:0;
}

#footer-stripe p {
  margin-bottom:0;
}

#footer-stripe .content {
	display:inline-block;
}

#footer-stripe li {
	display:inline-block;
}

.region-footer-stripe-right {
  text-align:right;
}

/* ----- =Poll ----- */

.node .poll {
  margin:0 0 1.538em;
}

.node .poll #edit-choice {
  margin:0 0 1.5em;
}

.poll .title {
	font-weight:bold;
}

.poll .vote-form {
  text-align:left;
}

.poll .vote-form .choices {
  margin: 0;
}

.poll .percent {
  font-size:0.857em;
  font-style:italic;
  margin-bottom: 3em;
  margin-top:-3.2em;
  float:right;
  text-align:right;
}

.poll .text {
  clear:right;
  margin-right:2.25em;
}

.poll .total {
  font-size:0.929em;
  font-style:italic;
  text-align:right;
  clear: both;
}

.node .poll .text {
  margin-right:6.75em;
}

.node .poll #edit-choice {
  margin:0 0 1.2em;
}

.poll .bar .foreground {
  background-color:#6ebd36;
}

.block-poll form {
	margin:0 0 10px;
}

/* ----- =Comments ----- */

.comment {
	margin-bottom:30px;
}

.comment div.user-picture img {
  margin-left:0;
}

.indented {
	margin:0;
}

.comment .attribution .username {
  white-space:nowrap;
}

.comment .submitted p {
	margin:0;
}

.comment .submitted .commenter-name {
	border-top:1px solid #dcdcdc;
	border-bottom:1px solid #dcdcdc;
}

.comment .submitted .comment-time {border-bottom:1px solid #dcdcdc;}
.comment .submitted .comment-permalink {border-bottom:1px solid #dcdcdc;}

.comment .content {
}

.comment .comment-arrow {
  background:url(images/comment-arrow.png) no-repeat left center;
  border-right:1px solid #ffffff;
  height:40px;
	left:0;
	top:30px;
  position:absolute;
  width:20px;
}

.comment ul.links {
  padding:0 0 0.25em 0;
}

.comment ul.links li {
  padding:0 0.5em 0 0;
}

.comment-unpublished {
  margin-right:5px;
  padding:5px 2px 5px 5px;
}

.comment .new {
	color:#db273d;
	font-weight:bold;
}

.comment .comment-text {
	position:relative;
}

.comment .comment-text-inner {
  border:1px solid #d3d7d9;
	margin-left:20px;
	padding:24px 30px;
}

.comment-unpublished .comment-text .comment-arrow {
  border-left:1px solid #fff4f4;
  border-right:1px solid #fff4f4;
}

/* ----- =Forms ----- */

input, textarea, select, fieldset {
  border-style:solid;
  border-width:1px;
	font-family:Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size:1em;
	margin:0 5px 0 0;
	padding:4px;
}

input:focus, textarea:focus, select:focus {
	border-color:#e34d25;
	outline:none;
}

fieldset {
	margin-bottom:10px;
}

select {
	padding:4px;
}

.form-item {
	margin:0 0 10px;
}

.form-item label {
	margin:0 0 4px;
}

.form-wrapper {}

fieldset, fieldset.filter-wrapper {
	background:#fff;
	padding:24px 30px;
}

.filter-wrapper .form-item {
	float:none;
	padding:0;
}

.filter-wrapper .filter-help {
	padding:0;
}

.filter-wrapper .filter-guidelines {
	margin:10px 0 0;
}

/* ----- =Search ----- */

#search-block-form {
	width:234px;
}

#search-block-form .form-text {
	border-color:1px solid #e0e0e0;
	border-width:1px 0 1px 1px;
	float:left;
	margin:0;
	padding:5px 10px;
	width:183px;
  border-radius:13px;
	-moz-border-radius:13px 0 0 13px;
	-webkit-border-radius:13px 0 0 13px;
	border-radius:13px 0 0 13px;
}

#search-block-form .form-submit {
  background:#ffffff url(images/search.png) no-repeat center center;
	border:1px solid #e0e0e0;
	border-width:1px 1px 1px 0;
	display:block;
	float:left;
	line-height:15px;
	margin:0;
	padding:5px 14px 6px;
	text-indent:-9999px;
	-moz-border-radius:0 13px 13px 0;
	-webkit-border-radius:0 13px 13px 0;
	border-radius:0 13px 13px 0;
  -webkit-box-shadow:none;
  -moz-box-shadow:none;
  box-shadow:none;
  filter: "progid:DXImageTransform.Microsoft.gradient(enabled=false)";
}

.region-header #search-block-form .form-text,
.region-header #search-block-form .form-submit {
	border-color:#232627;
}

/* ----- =Tabs ----- */

#tabs {
	border-bottom:1px solid #dcdcdc;
  margin-bottom:30px;
}

#tabs ul {
	border:none;
	float:left;
	line-height:26px;
	margin:0 0 1px;
	padding:0;
}

#tabs li {
	float:left;
}

#tabs a {
	background:#f2f2f2;
	border:1px solid #dcdcdc;
	border-width:1px 1px 1px 0;
	margin:0;
	padding:6px 12px;
}

#tabs li:first-child a {
	border-left-width:1px;
}

#tabs li.active a, #tabs li a:hover {
  background:#ffffff;
  border-bottom-color:#ffffff;
}

/* ----- =Tables ----- */

table {
	width:100%;
	margin:0 0 1.538em;
}



/* ----- =Forum ----- */

#forum td {
	vertical-align:middle;
}

#forum .icon {
	width:24px;
}

#forum .icon div {
	display:table-cell;
}

.node-forum .field-name-taxonomy-forums {
	margin:-25px 0 30px;
}

.node-forum .field-name-taxonomy-forums .field-label,
.node-forum .field-name-taxonomy-forums .field-items,
.node-forum .field-name-taxonomy-forums .field-item {
	display:inline;
}

/* ----- =Book ----- */

.book-navigation .menu {
  border-top-width:1px;
  border-top-style:solid;
	padding:0.5em 0 0.5em 2em;
}

.book-navigation .page-links {
  border-top-width:1px;
  border-top-style:solid;
  border-bottom-width:1px;
  border-bottom-style:solid;
	margin:0 0 1.538em;
}

.book-navigation ul li.collapsed {
	list-style-image:url(images/li-collapsed.png);
	list-style-type:disc;
}

.book-navigation ul li.expanded {
	list-style-image:url(images/li-expanded.png);
}

.book-navigation ul li.leaf, #sidebar ul li {
	list-style-image:url(images/li-leaf.png);
	list-style-type:disc;
}

.book-navigation .menu {
	border-top-color:#e0e0e0;
}

.book-navigation .page-links {
	border-bottom-color:#e0e0e0;
	border-top-color:#e0e0e0;
}

/* ----- =Lists ----- */

ul li.collapsed {
	list-style-image:url(images/li-collapsed.png);
	list-style-type:disc;
}

/*
ul li.expanded {
	list-style-image:url(images/li-expanded.png);
}
*/

ul li.leaf, ul li {
	list-style-image: url(images/li-leaf.png);
	list-style-type:disc;
}

/* ----- =Messages ----- */

#messages {
	margin-bottom:25px;
}

div.messages {
  margin-top:0;
}

/* ----- =Testimonials ----- */

.node-testimonial {
	margin-bottom:30px;
}

.testimonial-image {
  float:left;
  margin-right:30px;
}

.testimonial-image img {
}

.testimonial-entry {
	font-style:italic;
}

.testimonial-author {
	font-weight:bold;
}

/* ----- =Panels ----- */

#panels-dnd-main div.panel-region h2.label {
	background:transparent;
	font-family:Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size:12px;
	font-weight:normal;
	margin:0;
	padding:0;
}

#panels-dnd-main div.panel-region {
	padding:6px;
	margin-bottom:6px;
	border:1px solid #dcdcdc;
	background:#fff;
	-webkit-border-radius:0;
	-moz-border-radius:0;
}

.pane-content .carousel {
	margin-bottom:0;
}

.pane-row {
	border-bottom:1px solid #dcdcdc;
	margin-bottom:24px;
	padding-bottom:24px;
}

.row-fluid:last-child .pane-row {
	border-bottom:none;
	margin-bottom:0;
	padding-bottom:0;
}

div.panel-pane div.node-testimonial {
	margin-bottom:30px;
}

div.panel-pane .views-row-last div.node-testimonial {
	margin-bottom:0;
}

/* ----- =Bootstrap Related ----- */

.accordion-heading {
	font-size:16px;
}

.accordion-heading .accordion-toggle {
	background:#ffffff;
	display:block;
	line-height:1em;
	padding:9px 18px;
}

a.accordion-toggle:hover {
	text-decoration:none;
}

.accordion-group {
	border:1px solid #dcdcdc;
	border-width:0 0 1px;
	margin:0;
	-moz-border-radius:0px;
	-webkit-border-radius:0px;
	border-radius:0px;
}

.accordion .accordion-heading .accordion-toggle {
	background:url(images/accordion.png) no-repeat left center;
	padding-left:31px;
}

.accordion .accordion-heading .accordion-toggle.active {
	background-image:url(images/accordion-collapsed.png);
}

.ui-accordion .ui-accordion-header .shortcodes-accordion,
.ui-accordion .ui-accordion-header .shortcodes-accordion-open {
	background-color:#e34d25;
}

.accordion-inner {
	border-top:none;
	padding:0 0 9px 31px;
}

.nav-tabs {
	border-bottom:none;
	margin-bottom:0;
}

.nav-tabs li {
	list-style:none;
	margin-bottom:-1px;
}

.nav-tabs > li > a {
	border:1px solid #dcdcdc;
	line-height:1em;
	padding:9px 18px;
	-moz-border-radius:0px;
	-webkit-border-radius:0px;
	border-radius:0px;
}

.nav-tabs > .active > a, .nav-tabs > .active > a:hover, .nav-tabs > li > a:hover {
	background:#ffffff;
	border:1px solid #dcdcdc;
	border-bottom-color:#ffffff;
	color:#333333;
	cursor:default;
}

.nav-tabs > li > a:hover {
	cursor:pointer;
}

.tab-content {
	background:#ffffff;
	border:1px solid #dcdcdc;
	padding:24px 30px;
	margin-bottom:24px;
}

.carousel {
	margin-bottom:24px;
	line-height:inherit;
}

.carousel-control {
	background-color:#eb5639;
	background-repeat:no-repeat;
	background-position:center center;
  border:none;
	cursor:pointer;
  display:block;
	height:42px;
	margin-top:-21px;
	position:absolute;
  text-indent:-9999px;
	top:50%;
	width:42px;
	z-index:100;
  -webkit-border-radius:0;
  -moz-border-radius:0;
  border-radius:0;
}

.carousel-control.right {
	background-image:url(images/slider-next.png);
	right:0px;
}
.carousel-control.left {
	background-image:url(images/slider-prev.png);
	left:0px;
}

.row-fluid.title-controller {
  min-height:0;
}

.content-carousel .carousel-inner .views-field-field-image {
	margin-bottom:12px;
}

.content-carousel .carousel-inner .views-field-title {
	background:#f8f8f8;
	border:1px solid #ebebeb;
	border-width:1px 1px 0;
	font-weight:bold;
	text-transform:uppercase;
	padding:6px 12px 0;
}

.content-carousel .carousel-inner .views-field-body {
	background:#f8f8f8;
	border:1px solid #ebebeb;
	border-width:0 1px 1px;
	padding:0 12px 6px;
}

.carousel-content-controller .right, .carousel-content-controller .left {
  background-color:#e34d25;
  background-repeat:no-repeat;
  background-position:center center;
	display:inline-block;
	line-height:12px;
	padding:6px 12px;
	margin:0;
  text-indent:-9999px;
}

.carousel-content-controller .right {background-image:url(images/carousel-next.png);}
.carousel-content-controller .left {background-image:url(images/carousel-prev.png);}

@media (max-width: 767px) {
	.carousel-cell {
		margin-bottom:12px;
	}
}

.show-grid {
	margin-bottom:30px;
}

.show-grid:hover [class*="span"] {
	background:#f5f5f5;
}

.show-grid [class*="span"] {
	background-color: #fff;
	text-align: center;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	min-height: 40px;
	line-height: 40px;
}

.form-actions {
  padding:0;
  margin-bottom:30px;
  background:#ffffff;
  border:none;
}

@media (max-width: 767px) {
  body {
    padding-left:0;
    padding-right:0;
  }
}

/* ----- =Views ----- */

.title-controller {
  margin-bottom:24px;
}

.title-controller h3 {
  margin-bottom:0;
}

.content-carousel .span3 {
  margin-left:30px;
  width:222px;
}

.content-carousel .carousel-inner {
  width:auto;
}

.carousel-meta {
  margin-right:30px;
}

.content-carousel {
  position:static;
}

@media (max-width:1025px){
  .carousel-meta {
    margin-right:2.7624309392265194%;
  }
  
  .content-carousel .span3 {
    margin-left: 2.7624309392265194%;
  }
  
	.content-carousel.items-3 .span3 {
    width: 31.491712707182323%;
    *width: 31.440587962806045%;
  }
  
  .content-carousel.items-2 .span3 {
    width: 48.61878453038674%;
    *width: 48.56765978601046%;
  }
  
  .content-carousel.items-1 .span3 {
    width:100%;
    *width: 99.94887525562372%;
  }
}

@media (max-width: 767px) {
  .content-carousel.items-1 .span3,
  .content-carousel.items-2 .span3,
  .content-carousel.items-3 .span3 {
    margin-left:0;
    width:222px;
  }
}

.views-view-grid .row {
  margin-bottom:30px;
}

.portfolio .work-item {
  width:306px;
  height:230px;
  position:relative;
}

.portfolio .views-field-field-work-image {
  position:absolute;
  top:0;
  left:0;
}

.portfolio .work-entry {
  background:rgba(0, 0, 0, 0.6);
  color:#cccccc;
  display:none;
  height:182px;
  left:0;
  padding:24px 30px;
  position:absolute;
  top:0;
  width:246px;
}

.portfolio .work-view a {
  background:#e34d25 url(images/slider-next.png) no-repeat center center;
  bottom:0;
  display:block;
  height:42px;
  position:absolute;
  right:0;
  text-indent:-9999px;
  width:42px;
}

.portfolio h5 {
  color:#ffffff;
}

/* ----- =Twitter Block ----- */

.twitter_block ul {
  margin-bottom:0;
}

.twitter_block .tweet {
	background:url(images/tweet.png) no-repeat left 3px;
	margin-bottom:6px;
	padding-left:28px;
}

.twitter_block .last .tweet {
  margin-bottom:0px;
}

.twitter_block .tweet .tweet_created {
	color:#a5a5a5;
	font-size:11px;
}

/* ----- =Flickr ----- */

.block-flickr .flickr-photo-img {
  height:66px;
  margin-right:3px;
  width:66px;
}

.block-flickr a:nth-child(4n+4) {
  margin-right:0;
}

/* ----- =Misc ----- */

hr {
	border-top:1px solid #d1d5db;
	border-bottom:1px solid #fbfcfc;
	height:auto;
}

ul.action-links {
	list-style-type:none;
	margin:0 0 1em;
	overflow:hidden;
	padding:0 20px;
}

ul.action-links a {
	background:url(images/action-link.png) no-repeat left center;
	padding-left:15px;
}

.item-list .pager {
	text-align:left;
}

.item-list .pager li {
	margin:0;
	padding:0;
}

.item-list .pager li a {
	border:1px solid #dcdcdc;
	color:#505050;
	font-weight:normal;
	margin:0;
	padding:3px 8px;
	text-shadow:#fff 0 1px 0;
}

.item-list .pager li.pager-current, .item-list .pager li a:hover {
	background:#e34d25;
	border:none;
	color:#ffffff;
	font-weight:normal;
	line-height:14px;
	padding:4px 9px;
	text-decoration:none;
	text-shadow:none;
}

.intro-icon {
	display:table-cell;
	padding-right:30px;
  vertical-align:top;
}

.intro-icon img {
	max-width:none;
}

.intro-text {
	display:table-cell;
	vertical-align:top;
}

@media (max-width: 1025px) {
	.intro-icon {
		padding-right:20px;
	}
}

ol.search-results {
  margin:0;
}

/*******************************************************************
 * Color Module: Don't touch                                       *
 *******************************************************************/
 
#header #secondary-menu a {
	color:#666666;
}

.poll .bar {
	background-color:#e0e0e0;
}


input, textarea, select, fieldset {
	border-color:#e0e0e0;
}



/* ----- =Buttons ----- */

.button, input.form-submit{
	background: #b7d770;
	background: -webkit-gradient(linear, left top, left bottom, from(#cae285), to(#9fcb57)); /*  WebKit */
	background: -moz-linear-gradient(top,  #cae285, #9fcb57);
	border:1px solid #dedede;
	border-color:#adc671 #98b65b #87aa4a;
	border-radius:3px;
	color:#5d7731;
	display:inline-block;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#cae285', endColorstr='#9fcb57'); /*  IE */
	font-weight:bold;
	font-size:12px;
	line-height:12px;
	padding: 8px 11px;
	text-shadow: 0 1px 0 #cfe5a4;
	text-decoration: none;
	-webkit-box-shadow: 0 1px 1px #d3d3d3, inset 0 1px 0 #d7e9a4;
	-moz-box-shadow: 0 1px 1px #d3d3d3, inset 0 1px 0 #d7e9a4;
	box-shadow: 0 1px 1px #d3d3d3, inset 0 1px 0 #d7e9a4;   
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
}

.button:hover, input.form-submit:hover {
	background: #b9d972;
	background: -webkit-gradient(linear, left top, left bottom, from(#b8d872), to(#b9d972)); /*  WebKit */
	background: -moz-linear-gradient(top,  #b8d872, #b9d972);
	border-color: #8bb14d #83a648 #7d9e45;
	color:#5d7731;
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#b8d872', endColorstr='#b9d972'); /*  IE */
	text-decoration:none;
	text-shadow: 0 1px 0 #d5e8aa;
	-webkit-box-shadow: 0 1px 1px #d5d5d5, inset 0 1px 0 #cae295;
	-moz-box-shadow: 0 1px 1px #d5d5d5, inset 0 1px 0 #cae295;
	box-shadow: 0 1px 1px #d5d5d5, inset 0 1px 0 #cae295;  
}

.button.white, .white input.form-submit {
	background: #f5f5f5;
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f9f9', endColorstr='#f0f0f0'); /*  IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#f9f9f9), to(#f0f0f0)); /*  WebKit */
	background: -moz-linear-gradient(top,  #f9f9f9, #f0f0f0);
	border-color: #dedede #d8d8d8 #d3d3d3;
	color: #555;
	text-shadow: 0 1px 0 #fff;
	-webkit-box-shadow: 0 1px 1px #eaeaea, inset 0 1px 0 #fbfbfb;
	-moz-box-shadow: 0 1px 1px #eaeaea, inset 0 1px 0 #fbfbfb;
	box-shadow: 0 1px 1px #eaeaea, inset 0 1px 0 #fbfbfb;
}
.button.white:hover, .white input.form-submit:hover{
	background: #f4f4f4;
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#efefef', endColorstr='#f8f8f8'); /*  IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#efefef), to(#f8f8f8)); /*  WebKit */
	background: -moz-linear-gradient(top,  #efefef, #f8f8f8);
	border-color: #c7c7c7 #c3c3c3 #bebebe;
	color: #555;
	text-shadow: 0 1px 0 #fdfdfd;
	-webkit-box-shadow: 0 1px 1px #ebebeb, inset 0 1px 0 #f3f3f3;
	-moz-box-shadow: 0 1px 1px #ebebeb, inset 0 1px 0 #f3f3f3;
	box-shadow: 0 1px 1px #ebebeb, inset 0 1px 0 #f3f3f3;
}

.button.grey, .grey input.form-submit{
	background: #bdbdbd;
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#cacaca', endColorstr='#aeaeae'); /*  IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#cacaca), to(#aeaeae)); /*  WebKit */
	background: -moz-linear-gradient(top,  #cacaca, #aeaeae);
	border-color: #b5b5b5 #a1a1a1 #8f8f8f;
	color: #555;
	text-shadow: 0 1px 0 #d4d4d4;
	-webkit-box-shadow: 0 1px 1px #c9c9c9, inset 0 1px 0 #d7d7d7;
	-moz-box-shadow: 0 1px 1px #c9c9c9, inset 0 1px 0 #d7d7d7;
	box-shadow: 0 1px 1px #c9c9c9, inset 0 1px 0 #d7d7d7;    
}
.button.grey:hover, .grey input.form-submit:hover{
	background: #c2c2c2;
	background: -webkit-gradient(linear, left top, left bottom, from(#bcbcbc), to(#c2c2c2)); /*  WebKit */
	background: -moz-linear-gradient(top,  #bcbcbc, #c2c2c2);
	border-color: #989898 #8e8e8e #878787;
	color: #555;
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#bcbcbc', endColorstr='#c2c2c2'); /*  IE */
	text-shadow: 0 1px 0 #dadada;
	-webkit-box-shadow: 0 1px 1px #cdcdcd, inset 0 1px 0 #ccc;
	-moz-box-shadow: 0 1px 1px #cdcdcd, inset 0 1px 0 #ccc;
	box-shadow: 0 1px 1px #cdcdcd, inset 0 1px 0 #ccc;    
}

.button.pink, .pink input.form-submit{
	background: #f67689;
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f78297', endColorstr='#f56778'); /*  IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#f78297), to(#f56778)); /*  WebKit */
	background: -moz-linear-gradient(top,  #f78297, #f56778);
	border-color: #df6f8b #da5f75 #d55061;
	color: #913944;
	text-shadow: 0 1px 0 #f89ca9;
	-webkit-box-shadow: 0 1px 1px #c1c1c1, inset 0 1px 0 #f9a1b1;
	-moz-box-shadow: 0 1px 1px #c1c1c1, inset 0 1px 0 #f9a1b1;
	box-shadow: 0 1px 1px #c1c1c1, inset 0 1px 0 #f9a1b1;    
}
.button.pink:hover, .pink input.form-submit:hover{
	background: #f67c90;
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f56c7e', endColorstr='#f78297'); /*  IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#f56c7e), to(#f78297)); /*  WebKit */
	background: -moz-linear-gradient(top,  #f56c7e, #f78297);
	border-color: #c36079 #c25669 #c14e5c;
	color: #913944;
	text-shadow: 0 1px 0 #f9a6b4;
	-webkit-box-shadow: 0 1px 1px #c3c3c3, inset 0 1px 0 #f8909e;
	-moz-box-shadow: 0 1px 1px #c3c3c3, inset 0 1px 0 #f8909e;
	box-shadow: 0 1px 1px #c3c3c3, inset 0 1px 0 #f8909e;    
}

.button.orange, .orange input.form-submit{
	background: #fecc5f;
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#feda71', endColorstr='#febb4a'); /*  IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#feda71), to(#febb4a)); /*  WebKit */
	background: -moz-linear-gradient(top,  #feda71, #febb4a);
	border-color: #f5b74e #e5a73e #d6982f;
	color: #996633;
	text-shadow: 0 1px 0 #fedd9b;
	-webkit-box-shadow: 0 1px 1px #d3d3d3, inset 0 1px 0 #fee395;
	-moz-box-shadow: 0 1px 1px #d3d3d3, inset 0 1px 0 #fee395;
	box-shadow: 0 1px 1px #d3d3d3, inset 0 1px 0 #fee395;    
}
.button.orange:hover, .orange input.form-submit:hover{
	background: #fecb5e;
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#fec354', endColorstr='#fecd61'); /*  IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#fec354), to(#fecd61)); /*  WebKit */
	background: -moz-linear-gradient(top,  #fec354, #fecd61);
	border-color: #d29a3a #cc9436 #c89133;
	color: #996633;
	text-shadow: 0 1px 0 #fee1a0;
	-webkit-box-shadow: 0 1px 1px #d4d4d4, inset 0 1px 0 #fed17e;
	-moz-box-shadow: 0 1px 1px #d4d4d4, inset 0 1px 0 #fed17e;
	box-shadow: 0 1px 1px #d4d4d4, inset 0 1px 0 #fed17e;    
}

.button.green, input.form-submit, .green input.form-submit {
	background: #b7d770;
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#cae285', endColorstr='#9fcb57'); /*  IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#cae285), to(#9fcb57)); /*  WebKit */
	background: -moz-linear-gradient(top,  #cae285, #9fcb57);
	border-color: #adc671 #98b65b #87aa4a;
	color: #5d7731;
	text-shadow: 0 1px 0 #cfe5a4;
	-webkit-box-shadow: 0 1px 1px #d3d3d3, inset 0 1px 0 #d7e9a4;
	-moz-box-shadow: 0 1px 1px #d3d3d3, inset 0 1px 0 #d7e9a4;
	box-shadow: 0 1px 1px #d3d3d3, inset 0 1px 0 #d7e9a4;    
}
.button.green:hover, input.form-submit:hover, .green input.form-submit:hover {
	background: #b9d972;
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#b8d872', endColorstr='#b9d972'); /*  IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#b8d872), to(#b9d972)); /*  WebKit */
	background: -moz-linear-gradient(top,  #b8d872, #b9d972);
	border-color: #8bb14d #83a648 #7d9e45;
	color: #5d7731;
	text-shadow: 0 1px 0 #d5e8aa;
	-webkit-box-shadow: 0 1px 1px #d5d5d5, inset 0 1px 0 #cae295;
	-moz-box-shadow: 0 1px 1px #d5d5d5, inset 0 1px 0 #cae295;
	box-shadow: 0 1px 1px #d5d5d5, inset 0 1px 0 #cae295;    
}

.button.blue, .blue input.form-submit{
	background: #92dbf6;
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#abe4f8', endColorstr='#6fcef3'); /*  IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#abe4f8), to(#6fcef3)); /*  WebKit */
	background: -moz-linear-gradient(top,  #abe4f8, #6fcef3);
	border-color: #8dc5da #76b7cf #63abc7;
	color: #42788e;
	text-shadow: 0 1px 0 #b6e6f9;
	-webkit-box-shadow: 0 1px 1px #d6d6d6, inset 0 1px 0 #c0ebfa;
	-moz-box-shadow: 0 1px 1px #d6d6d6, inset 0 1px 0 #c0ebfa;
	box-shadow: 0 1px 1px #d6d6d6, inset 0 1px 0 #c0ebfa;    
}
.button.blue:hover, .blue input.form-submit:hover{
	background: #92dbf6;
	border-color: #7caec0 #68a3ba #5a9cb5;
	color: #42788e;
	text-shadow: 0 1px 0 #bee9fa;
	-webkit-box-shadow: 0 1px 1px #d6d6d6, inset 0 1px 0 #ade4f8;
	-moz-box-shadow: 0 1px 1px #d6d6d6, inset 0 1px 0 #ade4f8;
	box-shadow: 0 1px 1px #d6d6d6, inset 0 1px 0 #ade4f8;    
}

.button.purple, .purple input.form-submit{
	background: #dfaeda;
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#e8c4e4', endColorstr='#d494ce'); /*  IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#e8c4e4), to(#d494ce)); /*  WebKit */
	background: -moz-linear-gradient(top,  #e8c4e4, #d494ce);
	border-color: #bc9db9 #ad89aa #a1799d;
	color: #7b5777;
	text-shadow: 0 1px 0 #eacae6;
	-webkit-box-shadow: 0 1px 1px #d5d5d5, inset 0 1px 0 #eed3eb;
	-moz-box-shadow: 0 1px 1px #d5d5d5, inset 0 1px 0 #eed3eb;
	box-shadow: 0 1px 1px #d5d5d5, inset 0 1px 0 #eed3eb;    
}
.button.purple:hover, .purple input.form-submit:hover{
	background: #e0b1db;
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#deabd9', endColorstr='#e0b1db'); /*  IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#deabd9), to(#e0b1db)); /*  WebKit */
	background: -moz-linear-gradient(top,  #deabd9, #e0b1db);
	border-color: #a482a0 #9b7897 #947090;
	color: #7b5777;
	text-shadow: 0 1px 0 #ecd0e9;
	-webkit-box-shadow: 0 1px 1px #cdcdcd, inset 0 1px 0 #ccc;
	-moz-box-shadow: 0 1px 1px #cdcdcd, inset 0 1px 0 #ccc;
	box-shadow: 0 1px 1px #cdcdcd, inset 0 1px 0 #ccc;    
}

.button.teal, .teal input.form-submit{
	background: #9cedef;
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#b7f2f4', endColorstr='#7ce7ea'); /*  IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#b7f2f4), to(#7ce7ea)); /*  WebKit */
	background: -moz-linear-gradient(top,  #b7f2f4, #7ce7ea);
	border-color: #90c6c8 #78bdc0 #65b6ba;
	color: #437b7d;
	text-shadow: 0 1px 0 #bef3f5;
	-webkit-box-shadow: 0 1px 1px #d5d5d5, inset 0 1px 0 #c9f5f7;
	-moz-box-shadow: 0 1px 1px #d5d5d5, inset 0 1px 0 #c9f5f7;
	box-shadow: 0 1px 1px #d5d5d5, inset 0 1px 0 #c9f5f7;    
}
.button.teal:hover, .teal input.form-submit:hover{
	background: #9fedf0;
	border-color: #7db9bb #6bb2b5 #5dacaf;
	color: #437b7d;
	text-shadow: 0 1px 0 #c5f4f6;
	-webkit-box-shadow: 0 1px 1px #d5d5d5, inset 0 1px 0 #b7f2f4;
	-moz-box-shadow: 0 1px 1px #d5d5d5, inset 0 1px 0 #b7f2f4;
	box-shadow: 0 1px 1px #d5d5d5, inset 0 1px 0 #b7f2f4;    
}

.button.darkblue, .darkblue input.form-submit{
	background: #a5b8c6;
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#becbd6', endColorstr='#88a1b4'); /*  IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#becbd6), to(#88a1b4)); /*  WebKit */
	background: -moz-linear-gradient(top,  #becbd6, #88a1b4);
	border-color: #a2afb8 #8696a1 #6f818f;
	color: #515f6a;
	text-shadow: 0 1px 0 #c4d0d9;
	-webkit-box-shadow: 0 1px 1px #d3d3d3, inset 0 1px 0 #ced8e0;
	-moz-box-shadow: 0 1px 1px #d3d3d3, inset 0 1px 0 #ced8e0;
	box-shadow: 0 1px 1px #d3d3d3, inset 0 1px 0 #ced8e0;    
}
.button.darkblue:hover, .darkblue input.form-submit:hover{
	background: #adbfcb;
	border-color: #8996a0 #798791 #6c7a85;
	color: #515f6a;
	text-shadow: 0 1px 0 #ced9e0;
	-webkit-box-shadow: 0 1px 1px #d3d3d3, inset 0 1px 0 #c2cfd8;
	-moz-box-shadow: 0 1px 1px #d3d3d3, inset 0 1px 0 #c2cfd8;
	box-shadow: 0 1px 1px #d3d3d3, inset 0 1px 0 #c2cfd8;    
}

.button.black, .black input.form-submit{
	background: #525252;
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#5e5e5e', endColorstr='#434343'); /*  IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#5e5e5e), to(#434343)); /*  WebKit */
	background: -moz-linear-gradient(top,  #5e5e5e, #434343);
	border-color: #4c4c4c #313131 #1f1f1f;
	color: #fff;
	text-shadow: 0 1px 0 #2e2e2e;
	-webkit-box-shadow: 0 1px 1px #afafaf, inset 0 1px 0 #868686;
	-moz-box-shadow: 0 1px 1px #afafaf, inset 0 1px 0 #868686;
	box-shadow: 0 1px 1px #afafaf, inset 0 1px 0 #868686;    
}
.button.black:hover, .black input.form-submit:hover{
	background: #5a5a5a;
	border-color: #2c2c2c #1c1c1c #101010;
	color: #fff;
	text-shadow: 0 1px 0 #363636;
	-webkit-box-shadow: 0 1px 1px #b1b1b1, inset 0 1px 0 #838383;
	-moz-box-shadow: 0 1px 1px #b1b1b1, inset 0 1px 0 #838383;
	box-shadow: 0 1px 1px #b1b1b1, inset 0 1px 0 #838383;    
}
